<?xml version='1.0' encoding='utf-8' standalone='no'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.robv.android.xposed.installer">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application android:icon="@mipmap/ic_launcher" android:debuggable="true" android:label="Xposed" android:name="de.robv.android.xposed.installer.XposedApp" android:theme="@style/Theme.XposedInstaller.Light" android:allowBackup="false">
        <activity android:exported="true" android:configChanges="orientation|screenSize" android:label="Xposed" android:name="de.robv.android.xposed.installer.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:configChanges="orientation|screenSize" android:name="de.robv.android.xposed.installer.DownloadDetailsActivity" android:theme="@style/Theme.XposedInstaller.Transparent">
            <intent-filter>
                <action android:name="de.robv.android.xposed.installer.DOWNLOAD_DETAILS"/>
                <data android:scheme="package"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:host="repo.xposed.info" android:scheme="http" android:pathPrefix="/module/"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name="de.robv.android.xposed.installer.SettingsActivity" android:theme="@style/Theme.XposedInstaller.Transparent"/>
        <activity android:name="de.robv.android.xposed.installer.SupportActivity" android:theme="@style/Theme.XposedInstaller.Transparent"/>
        <activity android:name="de.robv.android.xposed.installer.AboutActivity" android:theme="@style/Theme.XposedInstaller.Transparent"/>
        <activity android:name="de.robv.android.xposed.installer.ModulesBookmark" android:theme="@style/Theme.XposedInstaller.Transparent"/>
        <activity android:screenOrientation="portrait" android:name="de.robv.android.xposed.installer.installation.InstallationActivity" android:theme="@style/Theme.XposedInstaller.Transparent"/>
        <receiver android:exported="false" android:name="de.robv.android.xposed.installer.receivers.PackageChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:permission="android.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" android:exported="true" android:name="de.robv.android.xposed.installer.receivers.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="de.robv.android.xposed.installer.util.NotificationUtil$RebootReceiver"/>
        <provider android:grantUriPermissions="true" android:exported="false" android:name="android.support.v4.content.FileProvider" android:authorities="de.robv.android.xposed.installer.fileprovider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>
